* {
  box-sizing: border-box;
}

@font-face {
  font-family: "MajorMonoDisplay";
  src: url("fonts/MajorMonoDisplay-Regular.ttf") format("truetype");
}

body {
  font-family: monospace;
  font-size: 16px;
  line-height: 1.2;

  display: grid;
  place-items: center;
  padding: 0 1rem;
  margin: 0;
}

h1, h2, h3 {
  font-family: "MajorMonoDisplay", monospace;
}

h1 {
  font-size: 4rem;
  margin-block-end: 0;
  margin-inline-start: -0.4rem;
}

h2 {
  font-size: 2rem;
  text-decoration: underline;
  text-decoration-thickness: 0.15rem;
  text-underline-offset: 0.5rem;
  margin-block-start: 3rem;
}

p, li {
  line-height: 1.5;
  margin: 1.1rem 0;
}

figure {
  text-align: center;
}

.pixel {
  image-rendering: crisp-edges;
  image-rendering: pixelated;
}

.wrapper {
  max-width: 960px;
  display: grid;
  row-gap: 2rem;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

.main-header__tagline {
  /* text-align: center; */
  font-size: 1.5rem;
  font-weight: bold;
}

.main-footer {
  text-align: center;
  margin-top: 1rem;
  padding: 1rem 0;
}

.main-footer__separator {
  border: none;
  border-top: 4px solid black;
  width: 3rem;
  height: 0.25rem;
}

.todo li::marker {
  content: "✔ ";
  font-size: 1.25rem;
}

.gallery {
  --image-size: 256px;
  list-style-type: none;
  padding-inline-start: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--image-size), 1fr));
  place-items: center;
  gap: 1rem;
}

.gallery li {
  max-width: var(--image-size);
}

.gallery figure {
  width: var(--image-size);
  margin: 0;
  padding: 0;
}
